/FaviconPlugin_installer
/FaviconPlugin_installer.pl
/FaviconPlugin.md5
/FaviconPlugin.sha1
/FaviconPlugin.tgz
/FaviconPlugin.txt
/FaviconPlugin.zip
pub/System/FaviconPlugin/build/
pub/System/FaviconPlugin/git/
